body { padding-top: 70px; }

img.brand {
  height: 50px;

  display: inline;
  margin-top: -15px;

}

.logo img {
	max-width: 100%;
}

.content-section {
	margin-top: 20px;
}

/*ul.nav {
	width: 100%;
}

*//*ul.nav > li {
	width: 25%;
	text-align: center;
	border-left: 1px solid #e7e7e7;
}
*//*
ul.nav > li:first-child {
	border-left: none;
}*/
